/*** GLOBAL SETTING ***/
body {margin:0; padding:0;font:normal 14px "Jost", sans-serif;; color:#5b5b5b; line-height:normal; background-color: #1e1d1d }

/* jost-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jost';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/jost-v15-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* jost-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/jost-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* jost-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/jost-v15-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* jost-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/jost-v15-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.container{max-width: min(1290px , 96%); margin: 0 auto;}
img{max-width: 100%; height: auto; width: auto;}
.btn a{display:inline-block; font-size:18px; font-weight:500; color: #fff; padding: 10px 40px; box-sizing:border-box; border:2px solid #f75023; border-radius:30px; position:relative; overflow:hidden; z-index:0; line-height: 20px;}
.btn a::before{content:""; position: absolute; background: #f75023; left: 0; bottom: 0; width: 100%; height: 100%; z-index: -1; transition: .2s linear;}
.btn a:hover::before{height: 0;}

.hc-offcanvas-nav.hc-nav-1.nav-levels-overlap{display: none;}
.topnav.hc-nav.hc-nav-1{display: flex;}
.mobile_menu{display: none;}

.headernav{position: fixed; left: 0; right: 0; top: 0px; z-index: 10; backdrop-filter: blur(20px); padding: 10px 0; background: #00000090; border-bottom: 1px solid #ffffff60;}
.headernav .container{display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; font-size: 0;}
.headernav .logo a{ display: flex; gap: 5px; align-items: center;}
.headernav .logo a span{font-size:28px; font-weight:600; color:#fff;}
.headernav .logo a span:nth-child(2){color: #f75023;}
.headernav .topnav{display: flex; flex-wrap: wrap; gap: 50px; align-items: center;}
.headernav .topnav ul{display: flex; flex-wrap: wrap; gap: 50px;}
.headernav .topnav ul li{position: relative;}
.headernav .topnav ul li::before{content:""; position: absolute; background: #f75023; width: 100%; height: 2px; bottom: -5px; left: 0; transform-origin: 50% 0; transition: .5s; transform: scaleX(0);}
.headernav .topnav ul li:hover::before{transform: scaleX(1);}
.headernav .topnav ul li.active::before{transform: scaleX(1);}
.headernav .topnav ul li a{font-size: 18px; font-weight: 400; color: #fff;  line-height: 20px; display: block; letter-spacing: .5px;}
.headernav .topnav .download-btn a{font-size: 16px; font-weight: 400; padding: 10px 30px; }
.headernav .topnav .download-btn a::before{content:""; position: absolute; background: #f75023; width: 100%; height: 0; z-index: -1;}
.headernav .topnav .download-btn a:hover::before{height: 100%;}

.bannersec{padding: 100px 0 100px;}
.bannersec .container{display: flex; flex-wrap: wrap; gap:30px; justify-content: space-between; align-items: center;}
.bannersec .bannertxt{width: 48%; padding:0 20px; box-sizing: border-box;}
.bannersec .bannertxt h3{font-size: 30px; font-weight: 500; color: #f75023; line-height: 30px; }
.bannersec .bannertxt h2{ font-size: 60px; font-weight: 600; color: #fff; line-height: 60px; margin-top: 10px;}
.bannersec .bannertxt h4{font-size:26px; font-weight:500; color:#fff; margin-top:30px; line-height:30px;}
.bannersec .bannertxt h4 span{color: #1cbe59; display: inline-block;}
.bannersec .bannertxt h4 span.city{color:#f0c45c;}
.bannersec .bannertxt p{font-size:22px; font-weight:400; color: #ffffff95; margin-top:30px;}
.bannersec .bannertxt .about-btn{ margin-top: 50px; font-size: 0;}
.bannersec .bannertxt .about-btn a{font-size: 20px; font-weight: 600; padding: 10px 45px; line-height: 25px;}
.bannersec .avatarsec{width: 48%; text-align: center;}
.bannersec .avatarsec .img{display: inline-block; position: relative;}
.bannersec .avatarsec span img{width:50px; height:50px; padding:5px; border-radius:10px; background:#fff; position:absolute; animation: move 1.5s linear infinite alternate; }
.bannersec .avatarsec span.html img{ top:0; right:5%; }
.bannersec .avatarsec span.photoshop img{ left: 5%; top: 15%; transform: translateY(-50%); }
.bannersec .avatarsec span.css img{ bottom:5%; right:0%; transform: translateX(-50%); }
.bannersec .avatarsec span.git img{ bottom:5%; left:0%; transform: translateX(-50%); }


@keyframes move{
    0%{transform: translateY(0px);
    }
    100%{
        transform: translateY(20px);
    }
}

.aboutsec{padding: 100px 0; background-color: #2b2d33;}
.aboutsec .container{display: flex; flex-wrap: wrap; align-items: center; gap: 30px; justify-content: space-between; position: relative;}
.aboutsec .container::before{content:""; position: absolute; background: url(../images/about-pattern-1.png) no-repeat; width: 110px; height: 180px; left: 0; top: -70px; animation: fadeinleft 1s linear; visibility: visible; background-size: contain;}
.aboutsec .container::after{content:""; position: absolute; background: url(../images/about-pattern-2.png) no-repeat; width: 272px; height: 165px; right: 0; bottom: -110px; background-size: contain; }
.aboutsec .aboutimg{width: 45%; text-align: center; }
.aboutsec .aboutdetails{width: 50%; }

.aboutsec .aboutdetails h3{font-size: 25px; font-weight: 500; color: #f75023; line-height: 30px;}
.aboutsec .aboutdetails span{display: block; font-size: 40px;  color: #fff; line-height: 45px; margin-top: 10px; font-weight: 500;}
.aboutsec .aboutdetails p{font-size: 20px; font-weight: 400; color: #ffffff95;  line-height: 30px; margin-top: 30px;}
.aboutsec .aboutdetails .hire-btn{margin-top: 30px; font-size: 0; text-align: end;} 
.aboutsec .aboutdetails .hire-btn a{margin-right: 40px;}

@keyframes fadeinleft {
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.Projects{padding: 100px 0; position: relative;}
.Projects .container{position: relative;}
.Projects .container::before{position: absolute; content:""; background: url(../images/project-pattern-1.png) no-repeat; width: 133px; height: 168px; top: -20px; left: 0; animation: zoom-in 2s; background-size: contain;}
.Projects .container::after{position: absolute; content:""; background: url(../images/project-pattern-2.png) no-repeat; width: 250px; height: 240px; bottom: -100px; right: 0; z-index: -1; background-size: contain;}
.Projects h3{font-size: 25px; font-weight: 500; color: #f75023; text-align: center; line-height: 30px;}
.Projects span.title{display: block; font-size: 40px; font-weight: 500; color: #fff; line-height: 45px; margin-top: 10px; text-align: center;}
.Projects .category ul{display: flex; flex-wrap: wrap; gap: 50px; align-items: baseline; margin-top: 50px; justify-content: center;}
.Projects .category ul li{font-size: 18px; font-weight: 500; color: #fff; cursor: pointer; line-height: 20px; padding: 10px 30px; letter-spacing: 1px; border-radius: 5px; border: 1px solid #f75023;}
.Projects .category ul li.active{background: #f75023;}
.Projects .projectwrap{max-width: 1100px; margin: 0 auto; margin-top: 50px;}
.Projects .projectwrap ul{display: flex; flex-wrap: wrap; gap: 50px;}
.Projects .projectwrap ul li{width: 100%; border-radius: 20px; padding: 30px; background: #2b2d33; display: flex; flex-wrap: wrap; gap: 30px; justify-content: space-between; box-shadow: 0px 0px 5px 0px rgba(255,255,255,0.75); align-items: center; border-top: 5px solid #f75023;}
.Projects .projectwrap ul li .projectimg{width: 48%;}
.Projects .projectwrap ul li .projectimg img{border-radius: 10px;}
.Projects .projectwrap ul li:nth-child(even) .projectimg{order: 2;}
.Projects .projectwrap ul li:nth-child(even) .projectdetails{order: 1;}
.Projects .projectwrap ul li .projectdetails{width: 48%; font-size: 0;}
.Projects .projectwrap ul li .projectdetails h4{ font-size:32px; font-weight:500; color:#fff; line-height:35px; display: inline-block; vertical-align: middle;}
.Projects .projectwrap ul li .projectdetails p{font-size:20px; font-weight:400; margin-top:15px; color: #ffffff95; line-height: 25px;}
.Projects .projectwrap ul li .projectdetails p + p{margin-top: 10px;}
.Projects .projectwrap ul li .projectdetails p span{color: #fff; font-size: 22px;}
.Projects .projectwrap ul li.hide{display: none;}
.Projects .projectwrap ul li .projectdetails .Visit-btn.btn{margin-top: 20px; font-size: 0;}
.Projects .projectwrap ul li .projectdetails .Visit-btn.btn a{padding: 7px 40px;}

@keyframes zoom-in{
    0%{
        opacity: 0;
        transform: scale3d(.3,.3,.3);
    }
    100%{
        opacity: 1;
    }
}

.contactsec{padding: 100px 0; background: #2b2d33}
.contactsec .container{position: relative; font-size: 0;}
.contactsec .container::before{content:""; position:absolute; background: url(../images/contact-pattern-1.png) no-repeat; width:170px; height:150px; background-size: contain; left: 0px; top: -30px; animation: zoom-in 2s;}
.contactsec .container::after{content:""; position:absolute; background: url(../images/contact-pattern-4.png) no-repeat; width:210px; height:175px; background-size: contain; right:0px; bottom:-95px; animation: zoom-in 2s;}
.contactsec h3{font-size: 25px; font-weight: 500; color: #f75023; text-align: center; line-height: 30px;} 
.contactsec span.title{font-size: 40px;  color: #fff; display: block; line-height:45px; margin-top:10px; font-weight: 500; text-align: center;}
.contactsec .contactwrap {max-width: 1100px; margin: 0 auto; margin-top: 50px; display: flex; flex-wrap: wrap; gap: 30px; justify-content: space-between; position: relative;}
.contactwrap .contactinfo{width: 48%;}
.contactwrap .contactinfo ul {display: flex; flex-wrap: wrap; gap: 30px;}
.contactwrap .contactinfo ul li{width: 100%;}
.contactwrap .contactinfo ul li .location{display: inline-block; vertical-align: middle; padding: 30px; background: #fedfd7; position: relative; border-radius: 50%;}
.contactwrap .contactinfo ul li .location::before{content:""; position:absolute; background:url(../images/location.png) no-repeat; width:24px; height: 24px; top: 50%; left: 50%; transform: translate(-50% , -50%);}
.contactwrap .contactinfo ul li .email{display: inline-block; vertical-align: middle; padding: 30px; background: #ddf5e6; position: relative; border-radius: 50%;}
.contactwrap .contactinfo ul li .email::before{content:""; position:absolute; background:url(../images/email.png) no-repeat; width: 24px; height: 24px; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.contactwrap .contactinfo ul li .phone{display: inline-block; vertical-align: middle; padding: 30px; background: #ece8fd; position: relative; border-radius: 50%;}
.contactwrap .contactinfo ul li .phone::before{content:""; position: absolute; background: url(../images/phone.png) no-repeat; width: 24px; height: 24px; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.contactwrap .contactinfo ul li h4{font-size:23px; font-weight: 500; color: #fff; display: inline-block; vertical-align: middle; margin-left: 20px;}
.contactwrap .contactinfo ul li h4 span{font-size:18px; font-weight: 400; color: #e9e3e3; display: block; transition: .2s linear;}
.contactwrap .contactinfo ul li h4 a span:hover{color: #f75023;}
.contactwrap .contactinfo ul li:nth-child(1) h4 span{color: #e9e3e3;}
.contactwrap .contactform{width: 48%;}
.contactwrap .contactform ul{display: flex; flex-wrap: wrap; gap: 20px; justify-content: space-evenly;}
.contactwrap .contactform ul li{width: 47%;}
.contactwrap .contactform ul li input{width: 100%; padding:10px 10px; border: 1px solid #a0a0a0; border-radius: 10px; box-sizing: border-box; background: transparent; font-size:18px; font-weight:400; color:#a0a0a0; font-family:'Jost';}
.contactwrap .contactform ul li ::placeholder{color: #a0a0a0;}
.contactwrap .contactform ul li.fullwidth{width: 100%; text-align: center; font-size: 0;}
.contactwrap .contactform ul li textarea{width:100%; height:150px; padding:10px 10px; border:1px solid #a0a0a0; border-radius:10px; outline: none; background: transparent; font-size: 18px; font-weight: 400;  color: #a0a0a0; box-sizing: border-box; text-align: left; font-family:'Jost';}
.contactwrap .contactform ul li.button a{font-size: 22px; font-weight: 400; color: #fff; display: inline-block; padding: 10px 50px;  border-radius: 30px; line-height: 25px; position: relative; overflow: hidden; border: 2px solid #f75023; box-sizing: border-box; z-index: 0;}
.contactwrap .contactform ul li.button a::before{content:""; position: absolute; background: #f75023; width: 100%; height: 100%; bottom: 0; left: 0; z-index: -1; transition: .2s linear;}
.contactwrap .contactform ul li.button a:hover::before{height: 0%;}
.mapsec{max-width: 1100px; margin: 0 auto; margin-top: 50px; z-index: 1; position: relative;}
.mapsec iframe{width: 100%;height: 400px; border-radius: 10px;}

.footersec{padding: 50px 0; }
.footersec .container{max-width:min(1100px ,96% ); margin: 0 auto; display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center;}
.footersec .footerleftsec p{font-size: 20px; font-weight: 400; color: #fff; line-height: 20px;}
.footersec .footerleftsec p a{color: #a0a0a0; transition: .2s;}
.footersec .footerleftsec p a:hover{color: #f75023;}
.footersec .footerrightsec a{background: url(../images/linkdin-icon.png) no-repeat; width: 20px; height: 20px; display: block; }
.footersec .footerrightsec a:hover{background-position: 0px -21px;}


@media only screen and ( max-width: 1280px ) {
    .aboutsec .aboutdetails span{font-size: 30px; line-height: 35px;}
    .bannersec .bannertxt p{font-size: 20px; line-height: 25px;}
}
@media only screen and ( max-width: 1024px ) {
    .bannersec .bannertxt h4{font-size: 25px;}
}
@media only screen and ( max-width: 980px ) {
    .bannersec .bannertxt{padding: 0 0;}
    .bannersec .bannertxt h2{font-size: 55px;}
    .bannersec .bannertxt h4{font-size: 22px;}
    .aboutsec .aboutdetails p{font-size: 18px;}
    .aboutsec .aboutdetails h3{font-size: 23px;}
    .aboutsec .aboutdetails span{font-size: 25px; line-height: 30px;}
    .Projects .projectwrap ul li .projectdetails h4{font-size:28px;}
    .Projects .projectwrap ul li .projectdetails p{font-size: 18px;}
    .Projects .projectwrap ul li .projectimg img{ aspect-ratio: 3/2; object-fit: cover;}
    .Projects .projectwrap ul li{padding: 20px; gap: 20px;}
    .bannersec .bannertxt p{font-size: 18px;}
}
@media only screen and ( max-width: 800px ) {

    /*Mobile Menu Start*/
    .hc-offcanvas-nav .nav-item br { display:none;}
    .mobile_menu{display: inline-block !important; vertical-align: middle; position: relative; width: 26px; order: 1;}
    .hc-nav.hc-nav-1 { display:block !important; order: 3;}
    .hc-offcanvas-nav.hc-nav-1 { display:block !important;}
    
    .mobilestyicky {position: fixed; width: 100%; left: 0; top: 0; z-index:99; padding:5px 0; border-bottom:1px solid #eaeaea; background:#fff; display:block;}
    .hdrgt { padding-top:90px;}
    .header { position:relative;}
    html.hc-nav-yscroll {overflow-y:scroll}
    body.hc-nav-open {overflow:visible;position:fixed;width:100%;min-height:100%}
    .logged-in .hc-offcanvas-nav { top:32px;}
    .hc-offcanvas-nav {visibility:hidden;display:none;position:fixed;top:0;height:100%;z-index:9999}
    .hc-offcanvas-nav.is-ios * {cursor:pointer !important}
    .logged-in .hc-offcanvas-nav .nav-container { top:32px;}
    .hc-offcanvas-nav .nav-container {position:fixed;z-index:9998;top:0;width:280px;height:100%;max-width:100%;max-height:100%;box-sizing:border-box;transition:-webkit-transform .4s ease;transition:transform .4s ease;transition:transform .4s ease, -webkit-transform .4s ease}
    .hc-offcanvas-nav .nav-wrapper {width:100%;height:100%;max-height:100vh;-ms-scroll-chaining:none;overscroll-behavior:none;box-sizing:border-box}
    .hc-offcanvas-nav .nav-content {height:100%;max-height:100vh}
    .hc-offcanvas-nav .nav-wrapper-0>.nav-content {overflow:scroll;overflow-x:visible;overflow-y:auto;box-sizing:border-box}
    .hc-offcanvas-nav ul {list-style:none;margin:0;padding:0}
    .hc-offcanvas-nav li {position:relative;display:block}
    .hc-offcanvas-nav li.level-open>.nav-wrapper {visibility:visible}
    .hc-offcanvas-nav input[type="checkbox"] {display:none}
    .hc-offcanvas-nav label {position:absolute;top:0;left:0;right:0;bottom:0;z-index:10;cursor:pointer}
    .hc-offcanvas-nav li.nav-parent .nav-item .icon {display: none;}
    .hc-offcanvas-nav a {position:relative;display:block;box-sizing:border-box;cursor:pointer}
    .hc-offcanvas-nav a, .hc-offcanvas-nav a:hover {text-decoration:none; background: #4b4b4b;}
    .hc-offcanvas-nav .nav-item {position:relative;display:block;box-sizing:border-box}
    .hc-offcanvas-nav.disable-body::after, .hc-offcanvas-nav .nav-wrapper::after {content:'';position:fixed;z-index:9990;top:0;left:0;right:0;bottom:0;width:100%;height:100%;-ms-scroll-chaining:none;overscroll-behavior:none;visibility:hidden;opacity:0;transition:visibility 0s ease .4s, opacity .4s ease}
    .hc-offcanvas-nav.disable-body.nav-open::after, .hc-offcanvas-nav .sub-level-open::after {visibility:visible;opacity:1;transition-delay:.05s}
    .hc-offcanvas-nav:not(.nav-open)::after {pointer-events:none}
    .hc-offcanvas-nav.nav-levels-expand .nav-content {overflow:scroll;overflow-x:visible;overflow-y:auto;box-sizing:border-box}
    .hc-offcanvas-nav.nav-levels-expand .nav-wrapper::after {display:none}
    .hc-offcanvas-nav.nav-levels-expand ul .nav-wrapper {min-width:0;max-height:0;overflow:hidden;transition:height 0s ease .4s}
    .hc-offcanvas-nav.nav-levels-expand .level-open>.nav-wrapper {max-height:none}
    .hc-offcanvas-nav.nav-levels-overlap .nav-content {overflow:scroll;overflow-x:visible;overflow-y:auto;box-sizing:border-box}
    .hc-offcanvas-nav.nav-levels-overlap ul .nav-wrapper {position:absolute;z-index:9999;top:0;height:100%;visibility:hidden;transition:visibility 0s ease .4s, -webkit-transform .4s ease;transition:visibility 0s ease .4s, transform .4s ease;transition:visibility 0s ease .4s, transform .4s ease, -webkit-transform .4s ease}
    .hc-offcanvas-nav.nav-levels-overlap ul li.nav-parent {position:static}
    .hc-offcanvas-nav.nav-levels-overlap ul li.level-open>.nav-wrapper {visibility:visible;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);transition:-webkit-transform .4s ease;transition:transform .4s ease;transition:transform .4s ease, -webkit-transform .4s ease}
    .hc-offcanvas-nav.nav-position-left {left:0}
    .hc-offcanvas-nav.nav-position-left .nav-container {left:0;-webkit-transform:translate3d(-280px, 0, 0);transform:translate3d(-280px, 0, 0)}
    .hc-offcanvas-nav.nav-position-left.nav-levels-overlap li .nav-wrapper {left:0;-webkit-transform:translate3d(-100%, 0, 0);transform:translate3d(-100%, 0, 0)}
    .hc-offcanvas-nav.nav-position-right {right:0}
    .hc-offcanvas-nav.nav-position-right .nav-container {right:0;-webkit-transform:translate3d(280px, 0, 0);transform:translate3d(280px, 0, 0)}
    .hc-offcanvas-nav.nav-position-right.nav-levels-overlap li .nav-wrapper {right:0;-webkit-transform:translate3d(100%, 0, 0);transform:translate3d(100%, 0, 0)}
    .hc-offcanvas-nav.nav-position-top {top:0}
    .hc-offcanvas-nav.nav-position-top .nav-container {top:0;width:100%;height:auto;-webkit-transform:translate3d(0, -100%, 0);transform:translate3d(0, -100%, 0)}
    .hc-offcanvas-nav.nav-position-top.nav-levels-overlap li .nav-wrapper {left:0;-webkit-transform:translate3d(0, -100%, 0);transform:translate3d(0, -100%, 0)}
    .hc-offcanvas-nav.nav-position-bottom {top:auto;bottom:0}
    .hc-offcanvas-nav.nav-position-bottom .nav-container {top:auto;bottom:0;width:100%;height:auto;-webkit-transform:translate3d(0, 100%, 0);transform:translate3d(0, 100%, 0)}
    .hc-offcanvas-nav.nav-position-bottom.nav-levels-overlap li .nav-wrapper {left:0;-webkit-transform:translate3d(0, 100%, 0);transform:translate3d(0, 100%, 0)}
    .hc-offcanvas-nav.nav-open[class*='hc-nav-'] div.nav-container {-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}
    .hc-nav-trigger {cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;display:none;top:0;z-index:9980;width:auto;min-height:3rem}
    .hc-nav-trigger span {width:26px;/*top:20px;-webkit-transform:translateY(-50%);transform:translateY(-50%);-webkit-transform-origin:50% 50%;transform-origin:50% 50%; left:15px !important;*/ top:50%; transform: translateY(-50%); margin-left:0;}
    .hc-nav-trigger span, .hc-nav-trigger span::before, .hc-nav-trigger span::after {display:block;position:absolute;left:0;height:3px;background:#fff;transition:all .2s ease}
    .hc-nav-trigger span::before, .hc-nav-trigger span::after {content:'';width:100%}
    .hc-nav-trigger span::before {top:-7px}
    .hc-nav-trigger span::after {bottom:-7px }
    .hc-nav-trigger.toggle-open span {background:rgba(0, 0, 0, 0);-webkit-transform:rotate(45deg);transform:rotate(45deg)}
    .hc-nav-trigger.toggle-open span::before {-webkit-transform:translate3d(0, 10px, 0);transform:translate3d(0, 10px, 0)}
    .hc-nav-trigger.toggle-open span::after {-webkit-transform:rotate(-90deg) translate3d(13px, 0, 0);transform:rotate(-90deg) translate3d(13px, 0, 0)}
    .hc-offcanvas-nav::after, .hc-offcanvas-nav .nav-wrapper::after {background:rgba(0, 0, 0, 0.7)}
    .hc-offcanvas-nav .nav-container, .hc-offcanvas-nav .nav-wrapper, .hc-offcanvas-nav ul {background:#2b2d33;}
    .hc-offcanvas-nav h3 {font-size:19px;font-weight:normal;text-align:left;padding:20px 17px;color:#fff}
    .hc-offcanvas-nav a, .hc-offcanvas-nav .nav-item {padding:10px 15px; z-index:1;background:#2b2d33;border-bottom:1px solid #575757; color: #fff; font-size: 16px; font-weight: 500;}
    .hc-offcanvas-nav:not(.touch-device) a:hover{background:#ce4b274f}
    .hc-offcanvas-nav ul:first-of-type:not(:first-child)>li:first-child:not(.nav-back):not(.nav-close)>a {border-top:1px solid #003678; margin-top:-1px}
    .hc-offcanvas-nav li {text-align:left}
    .hc-offcanvas-nav li.nav-close a, .hc-offcanvas-nav li.nav-back a {background:#000; border-top:1px solid #575757; border-bottom:1px solid #575757;}
    /* .hc-offcanvas-nav li.nav-close a:hover, .hc-offcanvas-nav li.nav-back a:hover { background:#0c3986} */
    .hc-offcanvas-nav li.nav-close:not(:first-child) a, .hc-offcanvas-nav li.nav-back:not(:first-child) a { margin-top:-1px}
    .hc-offcanvas-nav li.nav-parent .nav-item { padding-right:58px}
    .hc-offcanvas-nav li.nav-close span, .hc-offcanvas-nav li.nav-parent span.nav-next, .hc-offcanvas-nav li.nav-back span { width:55px; position:absolute; top:0; right:0; bottom:0; text-align:center; cursor:pointer; transition:background .2s ease; border-left:1px solid #575757;}
    .hc-offcanvas-nav li.nav-close span::before, .hc-offcanvas-nav li.nav-close span::after { content:''; position:absolute; top:50%; left:50%; width:10px; height:10px; margin-top:-6px; border-top:2px solid #fff; border-left:2px solid #fff; }
    .hc-offcanvas-nav li.nav-close span::before { margin-left:-13px; -webkit-transform:rotate(135deg); transform:rotate(135deg) }
    .hc-offcanvas-nav li.nav-close span::after { -webkit-transform:rotate(-45deg); transform:rotate(-45deg)}
    .hc-offcanvas-nav a[href]:not([href="#"])>span.nav-next { border-left:1px solid #2763c8;}
    .hc-offcanvas-nav span.nav-next::before, .hc-offcanvas-nav li.nav-back span::before { content:''; position:absolute; top:50%; left:50%; width:8px; height:8px; margin-left:-2px; box-sizing:border-box; border-top:2px solid #fff; border-left:2px solid #fff; -webkit-transform-origin:center; transform-origin:center}
    .hc-offcanvas-nav span.nav-next::before { -webkit-transform:translate(-50%, -50%) rotate(135deg); transform:translate(-50%, -50%) rotate(135deg) }
    .hc-offcanvas-nav li.nav-back span::before { -webkit-transform:translate(-50%, -50%) rotate(-45deg); transform:translate(-50%, -50%) rotate(-45deg)}
    .hc-offcanvas-nav.nav-position-left.nav-open .nav-wrapper { box-shadow:1px 0 2px rgba(0, 0, 0, 0.2) }
    .hc-offcanvas-nav.nav-position-right.nav-open .nav-wrapper { box-shadow:-1px 0 2px rgba(0, 0, 0, 0.2)}
    .hc-offcanvas-nav.nav-position-right span.nav-next::before { margin-left:0; margin-right:-2px; -webkit-transform:translate(-50%, -50%) rotate(-45deg); transform:translate(-50%, -50%) rotate(-45deg)}
    .hc-offcanvas-nav.nav-position-right li.nav-back span::before { margin-left:0; margin-right:-2px; -webkit-transform:translate(-50%, -50%) rotate(135deg); transform:translate(-50%, -50%) rotate(135deg) }
    .hc-offcanvas-nav.nav-position-top.nav-open .nav-wrapper { box-shadow:0 1px 2px rgba(0, 0, 0, 0.2)}
    .hc-offcanvas-nav.nav-position-top span.nav-next::before { margin-left:0; margin-right:-2px; -webkit-transform:translate(-50%, -50%) rotate(-135deg); transform:translate(-50%, -50%) rotate(-135deg)}
    .hc-offcanvas-nav.nav-position-top li.nav-back span::before { margin-left:0; margin-right:-2px; -webkit-transform:translate(-50%, -50%) rotate(45deg); transform:translate(-50%, -50%) rotate(45deg) }
    .hc-offcanvas-nav.nav-position-bottom.nav-open .nav-wrapper { box-shadow:0 -1px 2px rgba(0, 0, 0, 0.2)}
    .hc-offcanvas-nav.nav-position-bottom span.nav-next::before { margin-left:0; margin-right:-2px; -webkit-transform:translate(-50%, -50%) rotate(45deg); transform:translate(-50%, -50%) rotate(45deg) }
    .hc-offcanvas-nav.nav-position-bottom li.nav-back span::before { margin-left:0; margin-right:-2px; -webkit-transform:translate(-50%, -50%) rotate(-135deg); transform:translate(-50%, -50%) rotate(-135deg) }
    .hc-offcanvas-nav.nav-levels-expand .nav-container ul .nav-wrapper, .hc-offcanvas-nav.nav-levels-none .nav-container ul .nav-wrapper { box-shadow:none; background:transparent}
    .hc-offcanvas-nav.nav-levels-expand .nav-container ul h2, .hc-offcanvas-nav.nav-levels-none .nav-container ul h2 {display:none}
    .hc-offcanvas-nav.nav-levels-expand .nav-container ul ul .nav-item, .hc-offcanvas-nav.nav-levels-none .nav-container ul ul .nav-item {font-size:14px}
    .hc-offcanvas-nav.nav-levels-expand .nav-container li, .hc-offcanvas-nav.nav-levels-none .nav-container li { transition:background .3s ease}
    .hc-offcanvas-nav.nav-levels-expand .nav-container li.level-open, .hc-offcanvas-nav.nav-levels-none .nav-container li.level-open { background:#2e6296}
    .hc-offcanvas-nav.nav-levels-expand .nav-container li.level-open a, .hc-offcanvas-nav.nav-levels-none .nav-container li.level-open a { border-bottom:1px solid #295887}
    .hc-offcanvas-nav.nav-levels-expand .nav-container li.level-open a:hover, .hc-offcanvas-nav.nav-levels-none .nav-container li.level-open a:hover { background:#2f649a}
    .hc-offcanvas-nav.nav-levels-expand .nav-container li.level-open>.nav-item .nav-next::before, .hc-offcanvas-nav.nav-levels-none .nav-container li.level-open>.nav-item .nav-next::before { margin-top:2px; -webkit-transform:translate(-50%, -50%) rotate(45deg); transform:translate(-50%, -50%) rotate(45deg)}
    .hc-offcanvas-nav.nav-levels-expand .nav-container span.nav-next::before, .hc-offcanvas-nav.nav-levels-none .nav-container span.nav-next::before { margin-top:-2px; -webkit-transform:translate(-50%, -50%) rotate(-135deg); transform:translate(-50%, -50%) rotate(-135deg)}
    /*Mobile Menu End*/

    .aboutsec, .Projects, .contactsec{padding: 70px 0;}
    .headernav .logo{order: 2;}
    .headernav .topnav ul{display: none;}
    .bannersec{padding-bottom: 50px;}
    .bannersec .container,.aboutsec .container,.contactsec .contactwrap{gap: 20px;}
    .bannersec .bannertxt h2{font-size: 50px; line-height: 50px;}
    .bannersec .bannertxt h4 {font-size: 20px; line-height: 25px; margin-top: 20px;}
    .bannersec .bannertxt p {font-size: 16px; margin-top: 20px;}
    .bannersec .bannertxt .about-btn{margin-top: 30px;}
    .aboutsec .aboutdetails h3{font-size: 21px; line-height: 25px;}
    .aboutsec .aboutdetails span{font-size: 23px;}
    .aboutsec .aboutdetails p {font-size: 17px; line-height: 22px;}
    .contactwrap .contactform ul li textarea{height: 130px;}
    .contactsec .container::before{width: 130px; height:110px; top: 0;}
    .contactsec .container::after{width: 170px; height: 145px; bottom: -74px;}
    .aboutsec .container::before{width: 80px; height: 130px; top: -45px;}
    .aboutsec .container::after{width: 200px; height: 120px; bottom: -75px;}
    .footersec{padding: 30px 0;}
}
@media only screen and ( max-width: 768px ) {
    .Projects .projectwrap ul li .projectdetails h4 { font-size: 25px; line-height: 30px; }
    .Projects .projectwrap ul li .projectdetails p { font-size: 16px; line-height: 22px; }
    .Projects .projectwrap ul li .projectdetails p span{font-size: 19px;}
    .Projects .projectwrap ul li .projectdetails .Visit-btn.btn a{padding: 5px 40px;}
}
@media only screen and ( max-width: 736px ) {
    .bannersec .bannertxt h2{font-size: 46px;}
    .bannersec .bannertxt h4{font-size: 18px;}
    .aboutsec .aboutdetails h3 {font-size: 19px;}
    .aboutsec .aboutdetails span{font-size: 21px;}
    .contactwrap .contactinfo ul li h4{font-size: 22px;}
    .contactwrap .contactinfo ul li h4 span{font-size: 17px;}
    .contactwrap .contactform ul li {width: 46%;}
    .Projects .container::before{width: 100px; height: 125px;}
}
@media only screen and ( max-width: 667px ) {
    .bannersec .bannertxt,.bannersec .avatarsec,.Projects .projectwrap ul li .projectimg,.Projects .projectwrap ul li .projectdetails{width: 100%; text-align: center;}
    .aboutsec .aboutdetails,.Projects .projectwrap ul li:nth-child(even) .projectimg,.contactwrap .contactform{width: 100%; order: 1; text-align: center;}
    .aboutsec .aboutimg,.contactwrap .contactinfo{width: 100%; order: 2;}
    .bannersec .container,.aboutsec .container,.Projects .category ul{gap: 30px;}
    .bannersec .bannertxt p,.aboutsec .aboutdetails p,.Projects .projectwrap ul li .projectdetails p{font-size: 18px; line-height: 25px; }
    .bannersec .avatarsec .img img{max-height: 300px;}
    .bannersec .bannertxt h4,.aboutsec .aboutdetails h3{ font-size: 25px; line-height: 30px; }
    .aboutsec .aboutdetails span,.Projects span.title,.contactsec span.title { font-size: 30px; line-height: 35px; }
    .aboutsec .aboutdetails .hire-btn {text-align: center;}
    .aboutsec .aboutdetails .hire-btn a{margin-right: 0;}
    .aboutimg .img img{max-height: 350px;}
    .Projects .projectwrap ul li .projectimg img { aspect-ratio: unset; object-fit: unset; }
    .Projects .projectwrap ul li .projectdetails p span{font-size: 20px;}
    .contactwrap .contactform ul li{width: 48%;}
    .contactwrap .contactform ul li input{padding: 15px 10px;}
    .contactwrap .contactform ul li textarea{height: 180px;}
    .contactwrap .contactinfo ul{gap: 20px; justify-content: space-between;}
    .contactwrap .contactinfo ul li { width: 30%; text-align: center; }
    .contactwrap .contactinfo ul li h4{margin-left: 0; display: block; font-size: 20px; margin-top: 10px;}
    .contactwrap .contactinfo ul li h4 span{font-size: 16px;}
    .contactsec .container::before { width: 90px; height: 80px; top: 0;}
}
@media only screen and ( max-width: 640px ) {
}
@media only screen and ( max-width: 600px ) {
}
@media only screen and ( max-width: 568px ) {
    .Projects .category ul{gap: 20px;}
    .Projects .category ul li{font-size: 16px; padding: 10px 20px;}
    .contactwrap .contactform ul li,.contactwrap .contactinfo ul li{width: 100%; text-align: left;}
    .contactwrap .contactinfo ul li h4{display: inline-block; margin-left: 20px; margin-top: 0}

}
@media only screen and ( max-width: 480px ) {
    .container {width: 90%;}
    .hc-nav.hc-nav-1{display: none !important;}
    .bannersec .bannertxt h3{font-size: 25px; line-height: 25px;}
    .bannersec .bannertxt h2{font-size: 40px; line-height: 40px;}
    .bannersec .bannertxt h4, .aboutsec .aboutdetails h3,.Projects h3,.Projects .projectwrap ul li .projectdetails h4,.contactsec h3{font-size: 21px; line-height: 25px;}
    .bannersec .bannertxt .about-btn a,.footersec .footerleftsec p{font-size: 18px; line-height: 20px;}
    .bannersec .bannertxt p, .aboutsec .aboutdetails p, .Projects .projectwrap ul li .projectdetails p{font-size: 16px; line-height: 20px;}
    .aboutsec .aboutdetails span, .Projects span.title, .contactsec span.title { font-size: 24px; line-height: 30px; }
    .Projects .category ul li { font-size: 14px; padding: 10px 10px; }
    .Projects .container::before { width: 85px; height: 105px; }
    .contactsec .container::before { width: 60px; height: 55px;}
}
@media only screen and ( max-width: 414px ) {
}
@media only screen and ( max-width: 384px ) {
    .bannersec .avatarsec span img{width: 40px; height: 40px; padding: 3px; border-radius: 5px;}
}
@media only screen and ( max-width: 375px ) {
}
@media only screen and ( max-width: 360px ) {
}
@media only screen and ( max-width: 320px ) {
}